﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AmbilCookie.aspx.cs" Inherits="_2_XSS.AmbilCookie" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:TextBox runat="server" ID="txtKeterangan" />
        </div>
    </form>
</body>
</html>
